body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.myInfo{
  border: 2px solid yellow;
  text-align: center;
  width: 300px;
  padding: 10px;
  margin: 20px;
  background-color: whitesmoke;
  border-radius: 10px
  ;
}
h1{
  text-align: center;
  color: orangered;
}
p{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: green;
}
.places{
  margin:0 30px  0 50px ;
  padding: 30px;
  text-align: start;
}